<ng-container *ngIf="!addNewTodoPaneVisible">
  <div class="filter-container">
    <input class="filter-input origin-input"
           placeholder="Filter todos"
           type="text" />
    <svg class="filter-icon" role="img">
      <use xlink:href="assets/icons.svg#search" />
    </svg>
  </div>
  <button (click)="toggleAddNewTodo()" class="new-todo" origin-button>
    Add new todo
    <svg class="add-icon" role="img">
      <use xlink:href="assets/icons.svg#add" />
    </svg>
  </button>
</ng-container>
<app-add-new-todo-item (closePane)="toggleAddNewTodo()"
                       *ngIf="addNewTodoPaneVisible">
</app-add-new-todo-item>
