@use '../../../scss/base';

@mixin base-button($colour: map-get(base.$orange, 200)) {
  @include base.active-element-hover($colour);
  @include base.flex-center();
  border-radius: base.$border-radius;
  height: fit-content;
  padding: map-get(base.$spacings, xs) map-get(base.$spacings, s);
  border: 1px solid $colour;

  &[disabled] {
    background: map-get(base.$black, 100);
  }
}

:host {
  &[origin-anchor],
  &[origin-button] {
    @include base-button();
  }

  &[origin-button-confirm] {
    @include base-button(map-get(base.$green, 100));
    border: 1px solid map-get(base.$green, 100);

    &[disabled] {
      border-color: map-get(base.$black, 200);
      color: map-get(base.$black, 200);
      cursor: not-allowed;
    }
  }

  &[origin-button-cancel] {
    @include base-button(map-get(base.$red, 100));
    border: 1px solid map-get(base.$red, 100);
  }
}
