@use './scss/base';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  position: relative;
  width: 100%;
  font-family: base.$roboto-mono;
}

button {
  background-color: unset;
  border: unset;
  cursor: pointer;
  font-family: inherit;
}

h1 {
  font-family: inherit;
  font-size: unset;
  text-decoration: unset;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border: solid 3px transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: solid 3px transparent;
  box-shadow: inset 0 0 10px 10px currentColor;
}

.origin-input {
  border-radius: base.$border-radius;
  border: 1px solid map-get(base.$black, 100);
  padding: map-get(base.$spacings, xs) map-get(base.$spacings, s) map-get(base.$spacings, xs)
    map-get(base.$spacings, xs);
}

.origin-title {
  font-family: base.$courier;
  color: map-get(base.$black, 200);
  margin-bottom: map-get(base.$spacings, s);
}
